langchain
streamlit
streamlit-chat
streamlit_extras
watchdog
openpyxl
pandas
networkx
unstructured
chromadb
vosk
ffmpeg
ffmpeg-python
openai
pydub
SpeechRecognition
tiktoken
pysqlite3-binary #this is need just in streamlit.io environment
youtube-transcript-api
pytube
typing_extensions>=4.4.0