langchain
streamlit
streamlit-chat
streamlit_extras
watchdog
openpyxl
pandas
networkx
unstructured
chromadb
vosk
ffmpeg
openai
pydub
SpeechRecognition
pysqlite3
pysqlite3-binary #this is need just in streamlit.io environment